.title {
  font-family: MontserratMedium;
  font-size: 30px;
  margin: 0 20%;
}
.info {
  justify-content: center;
  align-items: center;
  margin: 0 20%;
}
.block-txt {
  margin: 10px 0;
}
.block-title {
  font-family: MontserratMedium;
  font-size:20px;
}
.block-info {
  font-family: MontserratMedium;
  font-size:16px;
  margin: 5px 0;
}
.block-info::selection {
  color: #ff0; /* Цвет текста */
  background: #000; /* Цвет фона */
 }
.text-field__input {
  display: block;
  width: 300px;
  height: calc(2.25rem + 2px);

  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
