<div class="block">
  <div class="title">Вход</div>
  <div class="input">
    <div class="field">
      <input class="input-field" type="text" name="" placeholder="Введите Email" />
    </div>
    <div class="field">
      <input
        class="input-field"
        type="password"
        name=""
        placeholder="Введите ваш пароль"
      />
    </div>
    <button class="btn" (click)="goHome()">Вход</button>
  </div>
  <a class="a-text" routerLink="/registration">-Зарегистрироваться-</a>
</div>
