<div class="navigation">
  <ul>
    <li class="list">
      <a>
        <span class="icon">
          <img src="../../../../../assets/images/profile.png" />
        </span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"><img src="../../../../../assets/images/profile.png" /></span>
        <span class="title">Hordor</span>
      </a>
    </li>
    <div class="indicator"></div>
  </ul>
  <button class="btn">все</button>
</div>
