<div class="block">
  <div class="profile">
    <div class="avatar">
      <img
        class="img"
        src="../../../../../assets/images/profile.png"
        width="200px"
      />
      <div class="username">Rafora</div>
      <div class="block-title">Пользователь</div>
    </div>
    <div class="info">
      <div class="block-txt">
        <div class="block-title">Имя</div>
        <div class="block-info">Екатерина</div>
      </div>
      <div class="block-txt">
        <div class="block-title">Фамилия</div>
        <div class="block-info">Овчаренко</div>
      </div>
      <div class="block-txt">
        <div class="block-title">Дата рождения</div>
        <div class="block-info">17.11.2001</div>
      </div>
      <div class="block-txt">
        <div class="block-title">Город</div>
        <div class="block-info">Нижний Новгород</div>
      </div>
      <div class="block-txt">
        <div class="block-title">Почта</div>
        <div class="block-info">ov4arenko.cat@yandex.ru</div>
      </div>
      <div class="block-txt">
        <div class="block-title">Ссылки</div>
        <div class="block-info">ov4arenko.cat@yandex.ru</div>
        <div class="block-info">ov4arenko.cat@yandex.ru</div>
        <div class="block-info">ov4arenko.cat@yandex.ru</div>
      </div>
      <div class="box">
        <div class="box-title">Подписаться</div>
        <label>
          <input type="checkbox">
          <span>
            <i></i>
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="articles">
    <div class="title">Статьи</div>
    <div class="article">
      <div class="left">
        <div class="title-article">Название</div>
        <div class="topic">Тема</div>
        <div class="date">20.02.2022</div>
      </div>
      <div class="right">
        <img src="../../../../../assets/images/profile.png" width="70" />
      </div>
    </div>
    <div class="article">
      <div class="left">
        <div class="title-article">Название</div>
        <div class="topic">Тема</div>
        <div class="date">20.02.2022</div>
      </div>
      <div class="right">
        <img src="../../../../../assets/images/profile.png" width="70" />
      </div>
    </div>
  </div>
</div>
