.block {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  gap: 20px;
  margin: 0px 2%;
}
.profile {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 20px;
}

.username {
  font-family: MontserratBold;
  font-size:25px;
}
.block-txt {
  margin: 10px 0;
}
.block-title {
  font-family: MontserratMedium;
  font-size:20px;
}
.block-info {
  font-family: MontserratMedium;
  font-size:14px;
  margin: 5px 0;
}
.avatar {
  margin: 0px 19%;
  text-align: center;
}
.btn {
  margin-right: 30px;
}
.title {
  font-family: MontserratMedium;
  font-size:30px;
}

.article {
  height: 130px;
  display: flex;
  margin: 10px 0;
  align-items: center;

  background: #b0eaf8;
  padding: 0 30px;
  border-radius: 20px;
}
.left {
  width: 700px;
  font-family: MontserratMedium;
}
.right {
  justify-content: center;
  align-items: center;
  float: right;
  margin-left: 300px;
}
.title-article {
  font-size: 25px;
  cursor: pointer;
}
.topic {
  font-size: 15px;
}
.date {
  margin-top: 20px;
  font-size: 15px;
}

/* подписаться */
.box {
  display: flex;
  align-items: center;
  /* min-height: 100vh; */
}
.box-title {
  font-family: MontserratBold;
  font-size:20px;
  text-shadow: 0 0px 30px #fe000086;
  margin-right: 15px;
  transition: 0.5s;
}
label {
  position: relative;
  width: 70px;
  height: 40px;
  cursor: pointer;
}
label input {
  position: relative;
  z-index: 1;
  appearance: none;
}
label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe0000;
  border-radius: 80px;
  transition: 0.5s;
  box-shadow: 0 15px 25px #fe000066;
}
label input:checked ~ span {
  background: #05be05;
  box-shadow: 0 15px 25px #05be0566;
}
label span i {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
}
label input:checked ~ span i {
  left: 34px;
}
