<div class="block">
  <div class="title">Регистрация</div>
  <div class="input">
    <div class="field">
      <input
        class="input-field"
        type="text"
        name=""
        placeholder="Введите Email"
      />
    </div>
    <div class="field">
      <input
        class="input-field"
        type="text"
        name=""
        placeholder="Введите username"
      />
    </div>
    <div class="field">
      <input
        class="input-field"
        type="text"
        name=""
        placeholder="Введите имя"
      />
    </div>
    <div class="field">
      <input
        class="input-field"
        type="text"
        name=""
        placeholder="Введите фамилию"
      />
    </div>
    <div class="field">
      <input
        class="input-field"
        type="date"
        name=""
        placeholder="Введите дату рождения"
      />
    </div>
    <div class="field">
      <input
        class="input-field"
        type="password"
        name=""
        placeholder="Введите ваш пароль"
      />
    </div>
    <button class="btn" (click)="goLog()">Зарегистрироваться</button>
  </div>
  <a class="a-text" routerLink="/login">-Вход-</a>
</div>
