<div class="block">

  <div class="title">Регистрация</div>
  <div >{{msg}}</div>
  <form class="input" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <input
        class="input-field"
        type="text"
        formControlName="email"
        name=""
        placeholder="Введите Email"
      />
    </div>
    <div class="field">
      <input
        class="input-field"
        type="text"
        formControlName="username"
        name=""
        placeholder="Введите username"
      />
    </div>
    <div class="field">
      <input
        class="input-field"
        type="text"
        formControlName="firstname"
        name=""
        placeholder="Введите имя"
      />
    </div>
    <div class="field">
      <input
        class="input-field"
        type="text"
        formControlName="lastname"
        name=""
        placeholder="Введите фамилию"
      />
    </div>
    <div class="field">
      <input
        class="input-field"
        formControlName="password"
        type="password"
        name=""
        placeholder="Введите ваш пароль"
      />
    </div>
    <button class="btn">Зарегистрироваться</button>
  </form>
  <a class="a-text" routerLink="/login">-Вход-</a>
</div>
