<div class="block">

  <div class="title">Регистрация</div>
  <div class="alert-{{ message.type }}" *ngIf="message.text">
    {{ message.text }}
  </div>
  <form class="input" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
      class="field"
      [ngClass]="{
        'has-error': form.get('email')?.invalid && form.get('email')?.touched
      }">
      <input
        class="input-field"
        type="text"
        formControlName="email"
        name=""
        placeholder="Введите Email"
      />
      <div
        class="form-help-text"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <span>{{ inputs.email() }}</span>
      </div>
    </div>
    <div
      class="field"
      [ngClass]="{
        'has-error': form.get('username')?.invalid && form.get('username')?.touched
      }">
      <input
        class="input-field"
        type="text"
        formControlName="username"
        name=""
        placeholder="Введите username"
      />
      <div
        class="form-help-text"
        *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
        <span>{{ inputs.username() }}</span>
      </div>
    </div>
    <div
      class="field"
      [ngClass]="{
        'has-error': form.get('firstname')?.invalid && form.get('firstname')?.touched
      }">
      <input
        class="input-field"
        type="text"
        formControlName="firstname"
        name=""
        placeholder="Введите имя"
      />
      <div
        class="form-help-text"
        *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.touched">
        <span>{{ inputs.firstname() }}</span>
      </div>
    </div>
    <div
      class="field"
      [ngClass]="{
        'has-error': form.get('lastname')?.invalid && form.get('lastname')?.touched
      }">
      <input
        class="input-field"
        type="text"
        formControlName="lastname"
        name=""
        placeholder="Введите фамилию"
      />
      <div
        class="form-help-text"
        *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.touched">
        <span>{{ inputs.lastname() }}</span>
      </div>
    </div>
    <div
      class="field"
      [ngClass]="{
        'has-error': form.get('password')?.invalid && form.get('password')?.touched
      }">
      <input
        class="input-field"
        formControlName="password"
        type="password"
        formControlName="password"
        name=""
        placeholder="Введите ваш пароль"
      />
      <div
        class="form-help-text"
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        <span>{{ inputs.password() }}</span>
      </div>
    </div>
    <button class="btn">Зарегистрироваться</button>
  </form>
  <a class="a-text" routerLink="/login">-Вход-</a>
</div>
