.block {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.container {
  padding: 0 250px;
  text-align: center;
  font-family: MontserratMedium;
}
.title1 {
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
  font-family: MontserratBold;
}
