<div class="title">По тематике</div>
<div class="container"*ngFor="let skill of skills">
  <div class="txt">{{skill.name}}</div>
  <!-- <div class="item">
    <div class="word">А</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
  </div>
  <div class="item">
    <div class="word">Б</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
  </div>
  <div class="item">
    <div class="word">В</div>
    <div class="txt"></div>
  </div>
  <div class="item">
    <div class="word">Г</div>
    <div class="txt"></div>
  </div>
  <div class="item">
    <div class="word">Д</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
  </div>
  <div class="item">
    <div class="word">Е</div>
    <div class="txt"></div>
  </div>
  <div class="item">
    <div class="word">Ж</div>
    <div class="txt"></div>
  </div>
  <div class="item">
    <div class="word">З</div>
    <div class="txt"></div>
  </div>
  <div class="item">
    <div class="word">И</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
    <div class="txt">Тема</div>
  </div> -->

</div>
