<div class="block">
  <div class="title-block">
    <img class="logo" src="../../../../../assets/images/logo.png" />
    <div class="title">ShowSkills</div>
  </div>
  <div class="links">
    <a
      class="link-txt"
      [routerLink]="['/', 'home']"
      [class.active]="isCurrentLink('home')"
      >Главная</a
    >
    <a
      class="link-txt"
      [routerLink]="['/', 'topic']"
      [class.active]="isCurrentLink('topic')"
      >По тематике</a
    >
  </div>
  <div class="profile">
    <ul class="dropdown">
      <li>
        <a class="name">Rafora</a>
        <ul class="ssubmenuu">
          <li><a [routerLink]="['/', 'profile']">Профиль</a></li>
          <li><a href="#">Выйти</a></li>
        </ul>
      </li>
    </ul>
    <img class="avatar" src="../../../../../assets/images/profile.png" width="60px"/>
  </div>
</div>
