<div class="txt">Список встреч</div>
<div class="block">
  <div class="left">
    <div class="title">Название встречи</div>
    <div class="topic">Организатор:</div>
    <div class="topic">Место проведения:</div>
    <div class="date">Начало: 20.02.2022 18:00</div>
  </div>
  <div class="right">
    <img src="../../../../../assets/images/online.png" width="70" />
  </div>
</div>
<div class="block">
  <div class="left">
    <div class="title">Название встречи</div>
    <div class="topic">Организатор:</div>
    <div class="topic">Место проведения:</div>
    <div class="date">Начало: 20.02.2022 18:00</div>
  </div>
  <div class="right">
    <img src="../../../../../assets/images/online.png" width="70" />
  </div>
</div>
