<div class="txt">Список встреч</div>
<div class="block" *ngFor="let event of events">
  <div class="left">
    <div class="title">{{ event.name }}</div>
    <div class="topic">Организатор: {{ event.author.username }}</div>
    <div class="topic">Место проведения:</div>
    <div class="date">
      <div class="topic">Начало:</div>
      <div [innerHtml]="formatData(event.date)"></div>
    </div>
  </div>
  <div class="right">
    <img [src]="selectSrc(event.format_event)" width="70" />
  </div>
</div>
